<!doctype html>
<html lang="en">
  <!-- [Head] start -->
<head>
{% load static %}  
{% include 'head.html' %}  

</head>

  <body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme="light">
    <!-- [ Pre-loader ] start -->
<div class="loader-bg">
  <div class="loader-track">
    <div class="loader-fill"></div>
  </div>
</div>
<!-- [ Pre-loader ] End -->


<nav class="pc-sidebar">
  {% include 'leftbar.html' %}  
</nav>


<!-- [ Header Topbar ] start -->
<header class="pc-header">
  {% include 'header.html' %}  
</header>
<!-- [ Header ] end -->



    <!-- [ Main Content ] start -->
    <div class="pc-container">
      <div class="pc-content">
<!-- [ breadcrumb ] start -->
<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      
      <div class="col-md-12">
        <ul class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/adminapp/">Home</a></li>
          <li class="breadcrumb-item"><a> Change Password</a></li>
         
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- [ breadcrumb ] end -->

        <!-- [ Main Content ] start -->
       
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5>Change Password</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <form method ="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="mb-3">
                        <label class="form-label" >Current Password</label>
                        <input type="text" class="form-control" name="currentpassword" placeholder="Enter Current Password"/>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" >New Password</label>
                        <input type="text" class="form-control" name="newpassword" placeholder="Enter New Password"/>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" >Confirm Password</label>
                        <input type="text" class="form-control" name="confirmpassword" placeholder="Confirm Password"/>
                      </div>
                     
                      
                      <button type="submit" class="btn btn-primary mb-4">Submit</button>
                      <br>
                      {% if msg != "" %}
                      <div class="alert alert-danger" role="alert">
                        {{msg}}
                      </div>
                      {% endif %}
                    </form>
                  </div>
                 
                </div>
              </div>
            </div>
            
          </div>
      
        </div>

        

    

        <!-- [ Main Content ] end -->
          

</div>
</div>
<footer class="pc-footer">
  {% include 'footer.html' %}  
</footer>

  
    {% include 'script.html' %}  
  </body>
 </html>