<!doctype html>
<html lang="en">
  <!-- [Head] start -->
<head>
{% load static %}  
{% include 'head.html' %}  

</head>

  <body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme="light">
    <!-- [ Pre-loader ] start -->
<div class="loader-bg">
  <div class="loader-track">
    <div class="loader-fill"></div>
  </div>
</div>
<!-- [ Pre-loader ] End -->

<nav class="pc-sidebar">
  {% include 'leftbar.html' %}  
</nav>

 <!-- [ Header Topbar ] start -->
<header class="pc-header">
  {% include 'header.html' %}  
</header>
<!-- [ Header ] end -->

  <!-- [ Main Content ] start -->
    <div class="pc-container">
      <div class="pc-content">
<!-- [ breadcrumb ] start -->
<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-header-title">
          <h5 class="mb-0">Dashboard</h5>
        </div>
      </div>
      <div class="col-md-12">
        <ul class="breadcrumb mb-0">
          
          <li class="breadcrumb-item"><a href="/adminapp/">Home</a></li>
          <li class="breadcrumb-item"><a>Dashboard</a></li>
          
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- [ breadcrumb ] end -->

<div class="row">
  <!-- [ Enhanced KPI Cards ] start -->
  <div class="col-md-6 col-xl-3">
    <div class="card bg-primary">
      <div class="card-body" style="height: 120px;">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <h6 class="mb-2 text-white"> <a href="/adminapp/pendingappointment" style="color: white;"> Pending Appointment </a></h6>
            <h3 class="text-white mb-0 f-w-300">{{pa_data.0.0}}</h3>
            
          </div>
          <div class="flex-shrink-0">
            <span class="pc-micon" style="color: white; font-size: 40px;"> <i class="ti ti-clipboard-list"></i> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card bg-success">
      <div class="card-body" style="height: 120px;">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <h6 class="mb-2 text-white"> <a href="/adminapp/approvedappointment" style="color: white;"> Approved Appointment </a></h6>
            <h3 class="text-white mb-0 f-w-300">{{ap_data.0.0}}</h3>
           
          </div>
          <div class="flex-shrink-0">
            <span class="pc-micon" style="color: white; font-size: 40px;"> <i class="ti ti-clipboard-check"></i> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card bg-warning">
      <div class="card-body" style="height: 120px;">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <h6 class="mb-2 text-white"><a href="/adminapp/cancelappointment" style="color: white;">Cancel Appointment </a></h6>
            <h3 class="text-white mb-0 f-w-300">{{ca_data.0.0}}</h3>
          
          </div>
          <div class="flex-shrink-0">
            <span class="pc-micon" style="color: white; font-size: 40px;"> <i class="ti ti-clipboard-x"></i> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card bg-info">
      <div class="card-body" style="height: 120px;">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <h6 class="mb-2 text-white"> <a href="/adminapp/treatment" style="color: white;">Treatment</a></h6>
            <h3 class="text-white mb-0 f-w-300">{{t_data.0.0}}</h3>
           
          </div>
          <div class="flex-shrink-0">
            <span class="pc-micon" style="color: white; font-size: 40px;"> <i class="ti ti-stethoscope"></i> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Enhanced KPI Cards ] end -->

  </div>


  <div class="row">

    <div class="col-md-6 col-xl-3">
      <div class="card bg-primary">
        <div class="card-body" style="height: 120px;">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1">
              <h6 class="mb-2 text-white"><a href="/adminapp/appointmentbill" style="color: white;">Appointment Bill </a></h6>
              <h3 class="text-white mb-0 f-w-300">{{ab_data.0.0}}</h3>
             
            </div>
            <div class="flex-shrink-0">
              <span class="pc-micon" style="color: white; font-size: 40px;"> <i class="ti ti-receipt-rupee"></i> </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- [ Enhanced KPI Cards ] start -->
    <div class="col-md-6 col-xl-3">
      <div class="card bg-success">
        <div class="card-body" style="height: 120px;">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1">
              <h6 class="mb-2 text-white"> <a href="/adminapp/treatmentbill" style="color: white;"> Treatment Bill </a></h6>
              <h3 class="text-white mb-0 f-w-300">{{tb_data.0.0}}</h3>
              
            </div>
            <div class="flex-shrink-0">
              <span class="pc-micon" style="color: white; font-size: 40px;"> <i class="ti ti-receipt-rupee"></i> </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3">
      <div class="card bg-warning">
        <div class="card-body" style="height: 120px;">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1">
              <h6 class="mb-2 text-white"><a href="/adminapp/user" style="color: white;">User </a></h6>
              <h3 class="text-white mb-0 f-w-300">{{u_data.0.0}}</h3>
              
            </div>
            <div class="flex-shrink-0">
              <span class="pc-micon" style="color: white; font-size: 40px;"> <i class="ti ti-users"></i> </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3">
      <div class="card bg-info">
        <div class="card-body" style="height: 120px;">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1">
              <h6 class="mb-2 text-white"> <a href="/adminapp/doctor" style="color: white;"> Doctor </a></h6>
              <h3 class="text-white mb-0 f-w-300">{{d_data.0.0}}</h3>
              
            </div>
            <div class="flex-shrink-0">
              <span class="pc-micon" style="color: white; font-size: 40px;"> <i class="ti ti-square-letter-d"></i> </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
   
    <!-- [ Enhanced KPI Cards ] end -->
  
    </div>

    <div class="row">
      <!-- [ Enhanced KPI Cards ] start -->
      <div class="col-md-6 col-xl-3">
        <div class="card bg-primary">
          <div class="card-body" style="height: 120px;">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1">
                <h6 class="mb-2 text-white"><a href="/adminapp/specialization" style="color: white;">Specialization</a></h6>
                <h3 class="text-white mb-0 f-w-300">{{s_data.0.0}}</h3>
              
              </div>
              <div class="flex-shrink-0">
                <span class="pc-micon" style="color: white; font-size: 40px;"> <i class="ti ti-filter-2-spark"></i> </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card bg-success">
          <div class="card-body" style="height: 120px;">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1">
                <h6 class="mb-2 text-white"> <a href="/adminapp/feedback" style="color: white;"> Feedback  </a></h6>
                <h3 class="text-white mb-0 f-w-300">{{f_data.0.0}}</h3>
               
              </div>
              <div class="flex-shrink-0">
                <span class="pc-micon" style="color: white; font-size: 40px;"> <i class="ti ti-message-dots"></i> </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card bg-warning">
          <div class="card-body" style="height: 120px;">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1">
                <h6 class="mb-2 text-white"><a href="/adminapp/changepassword" style="color: white;">Change Password </a></h6>
                
              
              </div>
              <div class="flex-shrink-0">
                <span class="pc-micon" style="color: white; font-size: 40px;"> <i class="ti ti-lock-check"></i> </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card bg-info">
          <div class="card-body" style="height: 120px;">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1">
                <h6 class="mb-2 text-white"><a href="/adminapp/logout" style="color: white;">Logout </a></h6>
                
              </div>
              <div class="flex-shrink-0">
                <span class="pc-micon" style="color: white; font-size: 40px;"> <i class="ti ti-logout"></i> </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- [ Enhanced KPI Cards ] end -->
      </div>
  



      </div>
    </div>
    <!-- [ Main Content ] end -->

    <footer class="pc-footer">
      {% include 'footer.html' %}  
    </footer>

    {% include 'script.html' %}  
  </body>
 </html>